@import '../../styles/base.scss';

.container {
    position: relative;
    padding: 0 0 180px;
    z-index: 1;
    background-color: $very-light-grey;
    text-align: center;

    h2 {
        position: absolute;
        left: 0;
        top: -60px;
        margin: 0;
        font-size: 110px;
        color: $grey;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
    }

    .email {
        padding: 120px 0 40px;
        a {
            font-size: 56px;
            font-weight: 100;
            text-decoration: none;
            color: $grey;
        }
    }
}

