@import '../../styles/base.scss';

.header {
    position: relative;
    height: 100vh;
    z-index: 0;

    .lang {
        position: absolute;
        right: 0px;
        top: 5vh;
        padding: 0 12px;
        z-index: 200;
        
        a {
            text-decoration: none;
            display: block;
            font-size: 20px;
            font-weight: 900;
            color: $light-grey;

            &.activeLang {
                color: #000;
            }
            
        }

        @media screen and (max-width: 560px) {
            background-color: #fff;
            border-radius: 4px;
            right: 3vh;
            top: 3vh;
            padding: 6px 8px;
        }
    }

    .siteTitle {
        position: fixed;
        top: 0;
        left: 0;
        width: 90vh;
        height: auto;
        transform: rotate(90deg);
        transform-origin: bottom left;
        margin-top: -8vh;
        margin-left: -2.8vh;
        z-index: -1;
        
        .siteTilteText {
            fill: $very-light-grey;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    .headerContent {
        height: 100vh;
        padding: 5vh 12vh 6vh 24vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 1380px) {
            padding-left: 20vh;
            padding-right: 8vh;
        }

        @media screen and (max-width: 560px) {
            padding: 2vh 2vh 2vh 10vh;
            width: 100vw;
        }

        .headerImage {
            background-image: url('../../images/montagnes.jpg');
            background-size: cover;
            background-color: $very-light-grey;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: top center;
            flex: 1;
            box-shadow: 0 8px 16px rgba(0,0,0,0.16);
            border-radius: 12px;
            margin-bottom: 60px;

            @media screen and (max-width: 560px) {
                width: 100%;
            }
        }

    }

    .headerDetails {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }
        

        .myName {
            color: $black;
            font-size: 74px;
            margin-bottom: 0;

            @media screen and (max-width: 1700px) {
                font-size: 68px;
            }

            @media screen and (max-width: 1600px) {
                font-size: 64px;
            }

            @media screen and (max-width: 1490px) {
                font-size: 56px;
            }

            @media screen and (max-width: 768px) {
                margin-bottom: 30px;
            }

            @media screen and (max-width: 560px) {
                font-size: 42px;
            }

        }

        .headerNav {
            margin-bottom: 5px;
            text-align: right;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            @media screen and (max-width: 768px) {
                justify-content: flex-start;
                // text-align: left;
            }

            @media screen and (max-width: 560px) {
                display: block;
                text-align: left;
            }

            div {
                position: relative;

                a {
                    position: relative;
                    margin-left: 50px;
                    font-size: 30px;
                    font-weight: 900;
                    text-decoration: none;
                    color: $black;

                    @media screen and (max-width: 1700px) {
                        font-size: 28px;
                    }
        
                    @media screen and (max-width: 1600px) {
                        font-size: 26px;
                    }

                    @media screen and (max-width: 1490px) {
                        font-size: 24px;
                    }

                    @media screen and (max-width: 560px) {
                        display: none;
                    }
                    
                }
    
                a::after {
                    position: absolute;
                    right: 0;
                    width: 0;
                    bottom: -8px;
                    height: 6px;
                    background-color: $black;
                    content: "";
                    transition: all ease-out 0.6s;

                    @media screen and (max-width: 560px) {
                        right: auto;
                        left: 0;
                    }
                }
    
                a:hover::after {
                    width: 120px;
                }
            }

        }
    }
}